* {
    font-family: 'MuseoModerno', cursive;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'promo.scss';
@import 'header.scss';
@import 'buttons.scss';
@import 'variables.scss';
@import 'advantages.scss';